@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Goudy+Bookletter+1911&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: url(../assets/imgs/dash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(185, 180, 180, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Beau Rivage';
    color: #ffff;
}

.header .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Beau Rivage';
    color: #404040;
}

.header-usuario {
    list-style: none;
    display: flex;
    width: auto;
}

.header-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header-li {
    display: flex;
    align-items: center;
    margin: 5px;
}

.header-li-bemvindo {
    display: flex;
    align-items: center;
    margin: 5px;
}

.header-a {
    text-decoration: none;
    font-family: 'Beau Rivage';
    font-size: 25px;
    color: #404040;
}

.header-li:hover,
.seta:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);
}

.logo {
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.conteudo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Beau Rivage';
    color: #ffff;
    font-size: 25px;
}

.card {
    width: 200%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    row-gap: 20px;
}

.formulario {
    font-family: 'Goudy Bookletter 1911';
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card-rotina {
    width: 130%;
    height: 300px;
    display: flex;
    margin-right: 25%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(7.6px);
}


.card-meta {
    width: 130%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(7.6px);
}

.card-caixa {
    margin-top: 15%;
    margin-left: 20px;
    width: 550%;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(35, 35, 35, 0.574);
    border-radius: 10px;
    border: 1px solid rgba(78, 77, 77, 0.11);
    backdrop-filter: blur(7.6px);
}

.card p {
    margin: 0;
    font-size:50px;
    justify-content: center;
    display: flex;
}

.metas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

.campo input {
    width: 100%;
    height: 25px;
    border: 2px #5a4e4e solid;
    border-radius: 8px;
    padding: 0px 10px;
    background-color: rgba(90, 86, 86, 0.34);
    color: #ffffff;
}

.botao {
    margin:20px;
    cursor: pointer;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #544f4c;
    width: 130px;
    height: 35px;
    align-self: center;
  }

  .dash {
    width: 80%;
    position: relative;
    left: 20%;
    height: 100vh;
    overflow: auto;
  }

  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-right: 345px;
  }
  
  .btn-chart {
    font-family: 'Goudy Bookletter 1911', sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: #544f4c;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
  }
  
  .btn-gray {
    color: white;
    background-color: #544f4c;
  }
  
  .btn-white {
    color: #544f4c;
    background-color: white;
  
  }

  .graph {
    display: block; 
    box-sizing: border-box; 
    height: 406px; 
    width: 812px; 
    margin-top:80px;
  }

  .feed-container{
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-size: 18px;
  }

  .publicacao-btn-editar{
    margin: 20px;
    cursor: pointer;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    background-color: #544f4c;
    width: 85px;
    height: 25px;
  }
  .publicacao-nome{
    font-family: 'Beau Rivage';
    font-size: 20px;
  }

  .publicacao-descricao{
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-size: 18px;
  }