@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Goudy+Bookletter+1911&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: url(../assets/imgs/fundohome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(108, 87, 87, 0.7);
    position: fixed;
    top: 0;
    z-index: 1;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Beau Rivage';
    color: #ffff;
    font-size: 60px;
}

.header .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Beau Rivage';
    color: #404040;
}

.header-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.header-li {
    display: flex;
    align-items: center;
    margin: 5px;
}

.header-a {
    text-decoration: none;
    font-family: 'Beau Rivage';
    font-size: 25px;
    color: #e3d9d9;
}

.header-li:hover,
.seta:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);
}

.logo {
    padding-right: 0px;
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.conteudo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Beau Rivage';
    color: #ffff;
    font-size: 40px;
}

.texto {
    text-align: justify;
    text-indent: 30px;
    margin:2%;
    width: 65%;
}

.texto a {
    text-decoration: none;
    color: inherit;
}

.topico {
    float: left;
    width: 320px;
    margin: 5px 5px 5px 5px;
    padding: 0%;
}

.fundo .conteudo h2{
    margin-top: 5%;
} 

.fundo .conteudo p {
    font-family: 'Goudy Bookletter 1911';
    font-size: 20px;
}
